.App {
  text-align: center;
  background-color: rgb(240, 173, 173);
}
body{
  overflow-y: hidden;
}

h1{
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#container{
  display: flex;
  justify-content: space-around;
}
#right{
  border-radius: 5px;
  height: 550px;
  width: 700px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-right: 80px;
  background-color: white;
  display: flex;
  background-color: rgb(240, 173, 173);
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#dataDiv{
  border-radius: 5px;
  height: 170px;
  width: 230px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  margin-top: 10px;
  text-align: center;
}